html {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
:root {
    --red-color: red;
    --blue-color: #2f80ed;
    --text-color: #222;
    --white-color: #fff;

}
.red-color {
    color: var(--red-color);
}

.blue-color {
    color: var(--blue-color)
}
.link {
    text-decoration: none;
    color: var(--blue-color);
}
